@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" >
    
    <h1 class="display-4">Olá, tudo bem?</h1>
    <h4>
        Se você está vendo esta tela, significa que está testando meu projeto, então alguns avisos que você provavelmente já sabe.
        Mas sempre bom informar, não será possivel testar create, index ou update sem estar executando o console da WepAPI.
    </h4>
    <h4>Eu fiz utilização de swagger na WepAPI, caso queira dar uma olhada nos metodos que criei.</h4>
    <h4>E sim esta é a tela de Home, infelizmente meus conhecimentos de Front-end MVC ainda são simples</h4>
</div>
