@model PresentationLayerMVC.Models.SupplierModels.SupplierCpfInsertViewModel

@{
    ViewData["Title"] = "CreateCPF";
}

<h1>CreateCPF</h1>

<h4>SupplierCpfInsertViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateCPF">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PersonResponsible" class="control-label"></label>
                <input asp-for="PersonResponsible" class="form-control" />
                <span asp-validation-for="PersonResponsible" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CNPJ_CPF" class="control-label"></label>
                <input asp-for="CNPJ_CPF" class="form-control" />
                <span asp-validation-for="CNPJ_CPF" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RG" class="control-label"></label>
                <input asp-for="RG" class="form-control" />
                <span asp-validation-for="RG" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthDate" class="control-label"></label>
                <input asp-for="BirthDate" class="form-control" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telephone" class="control-label"></label>
                <input asp-for="Telephone" class="form-control" />
                <span asp-validation-for="Telephone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telephone2" class="control-label"></label>
                <input asp-for="Telephone2" class="form-control" />
                <span asp-validation-for="Telephone2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label id="SubjectsLabel" name="SubjectsLabel" class="control-label">Empresas</label>
                <select multiple="multiple" class="form-control" id="my_multi_select1" asp-for="@Model.Companies" asp-items="(List<SelectListItem>)ViewBag.Companies"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="CreateCPF" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar aos fornecedores</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
